@charset "UTF-8";

body {
	font-family: 'Neucha', cursive;
	background: #CCDEE3;
}

h1, h2, h3 {
	color: #3b4652;
}

.masaje a {
	text-decoration: none;
	color: #3b4652;
}

.nav-menu li a {
	font-size: 1.2em;
}

.masaje h3 {
	font-size: 1.7em;
	margin-top: 30px;

}
/* Valoración estrellas*/

.form-valor {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.form-valor p {
  text-align: left;
  padding-top: 5px;
}

.form-valor label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

/* Fin Valoración estrellas*/

#logo {
	width: 2.5em;
}

footer p {
	color: #3b4652;	
}

.redes-sociales {
	font-size: 2em;
}
